#
# Ethernet GMAC driver configuration
#
config MTD_NAND_MONZA 
        bool "SigmaDesigns NAND Flash Controller driver" 
        depends on MTD_NAND && (SIGMA_SOC_SX6 || SIGMA_SOC_SX7)
        help 
         Enables NAND Flash support for SX6/SX7.

config MTD_NAND_DMA
        bool "DMA enable"
        depends on MTD_NAND && MTD_NAND_MONZA
	default n

config MTD_MONZA_DEBUG
        bool "Sigma nand debugging"
        depends on MTD_NAND && MTD_NAND_MONZA
	default n
        help
          This is an option for use by developers; most people should
          say N here.  This enables nand driver debugging.
