/*
 * Device Tree Source for UNION SoC
 *
 * Copyright (C) 2016 Sigmadesigns Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "sigma-dtv-common.dtsi"
#include "sigma-union-clocks.dtsi"

#include <dt-bindings/soc/sigma-dtv/proc_fuse.h>

/ {
	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53", "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "psci";
			next-level-cache = <&L2_0>;
		};

		L2_0: l2-cache {
			compatible = "cache";
			cache-level = <2>;
		};
	};

	io-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		compatible = "trix,io-accessor";

		io-space-0 {
			reg = <0x0 0xf5000000 0x0 0x8000000>;
		};

	};

	soc {

		sdhci0: sdhci@fb00a000 { /* eMMC on this bus */
			no-hs200;
			mmc-ddr-1_8v;

			sigma,mmc_hs_timing	= <0x0 0x6>; /*indelay, outdelay*/
			sigma,mmc_ddr52_timing	= <0x0 0x7>;
			sigma,mmc_hs200_timing	= <0x4 0x4>;

			clocks = <&clk200m>;
			clock-names = "sdioclk";

		};

		sdhci1: sdhci@fb00c000 { /* SD card on this bus */
			status = "disabled";
		};

		usb1: usb1@f502f100 {
			stream-disable-mode; /* low memory bandwidth system, avoid FIFO overflow */

		};

		usb2: usb2@fb008100 {
			stream-disable-mode; /* low memory bandwidth system, avoid FIFO overflow */

		};
	};
};
